# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Environment
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Data
data
data/
logs/

# Notebooks
.ipynb_checkpoints

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
